{% extends "layout.html" %}
{% block content %}
<div style="text-align: center;">
    <h1>Add New Product</h1>
    <form method="post" style="display: inline-block; text-align: left;">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" placeholder="Enter product name" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" placeholder="Enter product description"></textarea><br><br>

        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" step="0.01" placeholder="Enter product price" required><br><br>

        <input type="submit" value="Add Product">
    </form>
</div>
{% endblock %}
